* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  height: 66px;
  width: 247px;
  padding: 16px 28px;
}

.button:hover {
  background: transparent;
  color: rgb(32, 32, 39);
}

.anima {
  animation: ticker 20s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translate3d(-5%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.top {
  height: 800px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/Star2.svg), url(img/Star3.svg), url(img/Star5.svg), url(img/Star4.svg), url(img/Star9.svg);
  background-position: 63px 94px, 156px 69px, calc(100% - 455px) calc(100% - 225px), calc(100% - 344px) calc(100% - 149px), 100% 0;
  background-repeat: no-repeat;
}
.top__box {
  padding-top: 196px;
  max-width: 768px;
}
.top__box-header {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.top__box-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
}
.top__box-text-bold {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  padding-bottom: 48px;
}
.top__box-mini {
  display: none;
}
.top__animation {
  margin-top: 156px;
  background-color: rgb(188, 236, 48);
  width: 3220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  padding: 27px 49px;
}
.top__animation-titel {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.top__animation-image {
  width: 36px;
  height: 36px;
}

.games {
  background: rgb(32, 32, 39);
  background-image: url(img/Star1.svg), url(img/Star11.svg), url(img/Star12.svg), url(img/Star4.svg);
  background-position: 100% 77px, 25px 770px, 40px 822px;
  background-repeat: no-repeat;
}
.games__box {
  max-width: 788px;
  padding-top: 94px;
}
.games__box-header {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}
.games__box-text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}
.games__product {
  display: flex;
  gap: 32px;
}
.games__product-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.games__product-link {
  grid-column: span 4;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
.games__product-link:hover {
  transform: scale(1.1);
}
.games__product-box {
  height: 100%;
  max-width: 378px;
  border-radius: 30px;
  background-color: white;
}
.games__product-img {
  box-sizing: border-box;
  border: 0.5px solid rgb(32, 32, 39);
  border-radius: 30px;
}
.games__product-Number {
  width: 100%;
  background-color: #AD61FF;
}
.games__product-Math {
  width: 100%;
  background-color: #FDAD00;
}
.games__product-Turning {
  width: 100%;
  background-color: #565EEF;
}
.games__product-Rochambeau {
  width: 100%;
  background-color: #271A58;
}
.games__product-Quiz {
  width: 100%;
  background-color: #99D100;
}
.games__product-Generator {
  width: 100%;
  background-color: #271A58;
}
.games__product-text {
  padding: 32px 32px 36px;
}
.games__product-text-number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  width: 108px;
  padding: 8px;
  margin-bottom: 16px;
}
.games__product-text-header {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini {
  background: rgb(32, 32, 39);
  padding-top: 96px;
  background-image: url(img/Star7.svg), url(img/Star6.svg), url(img/Star8.svg), url(img/Star10.svg);
  background-position: calc(100% - 124px) calc(100% - 3368px), calc(100% - 45px) calc(100% - 3299px), calc(100% - 65px) calc(100% - 52px), calc(100% - 150px) calc(100% - 45px);
  background-repeat: no-repeat;
}
.mini__header {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 72px;
}
.mini__large {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 144px;
}
.mini__product {
  height: 500px;
  width: 100%;
  display: flex;
}
.mini__product-left {
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.mini__product-right {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mini__product-Number {
  width: 100%;
  background-color: #AD61FF;
}
.mini__product-Math {
  width: 100%;
  background-color: #FDAD00;
}
.mini__product-Turning {
  width: 100%;
  background-color: #565EEF;
}
.mini__product-Rochambeau {
  width: 100%;
  background-color: #271A58;
}
.mini__product-Quiz {
  width: 100%;
  background-color: #99D100;
}
.mini__product-Generator {
  width: 100%;
  background-color: #271A58;
}
.mini__left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  max-width: 600px;
}
.mini__right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  max-width: 600px;
}
.mini__box {
  width: 100%;
  max-width: 504px;
  padding: 48px 48px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.mini__box-header {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.mini__box-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 36px;
}

.footer {
  max-height: 150px;
  background: rgb(189, 237, 53);
}
.footer__header {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding: 60px;
}

@media (max-width: 769px) {
  .mini__product {
    height: auto;
    width: 768px;
  }
  .mini__box {
    padding: 24px 24px;
  }
}
@media (max-width: 426px) {
  .button {
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .button:hover {
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(img/Mobile/Star2.svg), url(img/Mobile/Star3.svg), url(img/Mobile/Star5.svg), url(img/Mobile/Star4.svg), url(img/Mobile/Star1.svg);
    background-position: 37px 97px, 91px 64px, calc(100% - 86px) calc(100% - 125px), calc(100% - 34px) calc(100% - 79px), 100% 0;
    background-repeat: no-repeat;
  }
  .top__box {
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__box-header {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__box-text {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 36px;
  }
  .top__box-text-bold {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__box-btn {
    display: none;
  }
  .top__box-mini {
    display: block;
  }
  .top__animation {
    margin-top: 131px;
    width: 1717.4px;
    height: 19px;
    padding: 16px 24px 16px 24px;
    gap: 27.4px;
  }
  .top__animation-titel {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
  }
  .top__animation-image {
    width: 19.34px;
    height: 19.34px;
  }
  .games {
    display: none;
  }
  .mini {
    background: rgb(32, 32, 39);
    padding-top: 48px;
  }
  .mini__header {
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 48px;
  }
  .mini__large {
    gap: 24px;
    padding-bottom: 48.88px;
  }
  .mini__product {
    height: auto;
    max-width: 343px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 30px;
  }
  .mini__product-Number {
    width: 100%;
    border-radius: 30px;
  }
  .mini__product-Math {
    width: 100%;
    border-radius: 30px;
  }
  .mini__product-Turning {
    width: 100%;
    border-radius: 30px;
  }
  .mini__product-Rochambeau {
    width: 100%;
    border-radius: 30px;
  }
  .mini__product-Quiz {
    width: 100%;
    border-radius: 30px;
  }
  .mini__product-Generator {
    width: 100%;
    border-radius: 30px;
  }
  .mini__left {
    border-radius: 30px 30px;
  }
  .mini__right {
    border-radius: 30px 30px;
  }
  .mini__box {
    display: flex;
    width: auto;
    padding: 29px 29px 32px;
    flex-direction: column;
    justify-content: center;
  }
  .mini__box-header {
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
  }
  .mini__box-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 32px;
    text-align: left;
  }
  .product {
    display: flex;
    flex-direction: column;
  }
  .footer {
    max-height: 100px;
  }
  .footer__header {
    font-size: 16px;
    line-height: 20px;
    padding: 40px 0 40px;
  }
}/*# sourceMappingURL=style.css.map */